<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posting Page</title>

    <!-- Bootstrap CSS 링크 추가 (필수!) -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/css1.css}" href="/css/css1.css" rel="stylesheet">
</head>


<body>
<div class="main-content">
    <h3>MAIN PAGE</h3>
</div>

<div class="top-right-buttons">
    <a th:href="@{/signOut}" class="btn btn-outline-secondary btn-sm">로그아웃</a>
    <a th:href="@{/deleteAccount}" class="btn btn-outline-secondary btn-sm">회원탈퇴</a>
</div>

<div class="posting">
    <a th:href="@{/posting}">글쓰기</a>
</div>

<div class="today's Music">

</div>

<div class="newPost">

</div>

<div class="profile">

</div>


</body>
</html>